# -----------------------------
# Project folders (repo root)
# -----------------------------
/config/backups/
/history/
/zz_old/
/zips/


/node_modules/
/dist/
/build/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs / runtime
# -----------------------------
*.log
otherscripts/finviznews/alerts_log.txt
