# -----------------------------
# Project folders (repo root)
# -----------------------------
/config/backups/
/history/
/zz_old/
/zips/

/node_modules/
/dist/
/build/
/zip-mover/DELETED/
/zip-mover/*.zip
/zip-mover/node_modules/

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs / runtime
# -----------------------------
*.log
alerts_log.txt
alerts_log.json
cred.txt
config/scanner_config.json


config/*.json
!config/*.schema.json